<% provide(:title, "About") %>

<div class="page-header">

<h1>Contact Dublin Rental Bikes</h1>

</div>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Dublin Rental Bikes</div>
  <div class="panel-body">
      
      <P>Dublin Rental Bikes has been proividing cost efficient bike rental to North and West Dublin since 2013</br></br>
      
      Our company offers bikes for adults and children of two types - Touring and Mountain bikes.  As our aim is to encourage the cusomters we 
      service to take full advantage of parks and countryside of North and West Dublin.  We do not provide bikes in the category of Racer.
      
      Operationing out of our large premises located in Airways Industrial estate which provides a great location to service our customer 
      needs providing them with easy access for for collection while also enabling us to provide a speedy delivery if required.</P>



</div>
