<% provide(:title, "Contact Us") %>

<div class="page-header">

<h1>Contact Dublin Rental Bikes</h1>

</div>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Dublin Rental Bikes Contact Information</div>
  <div class="panel-body">

<table class="table">
  <tr>
      <th>Address</th>
      <th>eMail</th>
      <th>Phone</th>
      <th colspan="2"></th>
  </tr>
  
  </div>
 
      <tr>
        <td>Unit 13 Boeing Driver</br>Airways Industrial Estate</br>Santry</br>Dublin 9</br></br>
        Office hours: </br>9:30 to 16:30 Mon - Fri</br>
        10:00 - 2:30 Sat</td>
        <td>drb@tbikes.tes</td>
        <td>+353 1 8569741</br></br>
        Lines open: </br>
        8:00 - 18:00 Mon - Fri</br>
        9:30 - 15:00 Sat</td>
      </tr>
</table>

</div>
