<% provide(:title, "Home") %>

<div class="center jumbotron">
    
<h1> Welcome to Dublin Rental Bikes</h1>

  <h2>This is the home page for Dublin Rental Bikes</br></br>
    Providing cost efficient bike rental to north and west Dublin since 2013</br></br> 
    Please check back later
  </h2>
  
  <h3><%= link_to "Create Account", signup_path, class: "btn btn-primary" %></h3>
</div>

<%= link_to image_tag("BikeIcon.png", alt: "Bike logo"), 'http://www.dublin.ie/' %>


